@keyframes logo-svg-translate {
  0% {
    transform: translateX(-1000px);
  }
  50% {
    transform: translateX(0);
  }
}
@keyframes logo-svg-flip {
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes logo-svg-eye-rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.logo-svg-rects rect, .logo-svg-eye rect {
  transform-origin: center;
}
.logo-svg-eye rect {
/*  animation: logo-svg-eye-rotate 60s 0s infinite linear;*/
}
