body {
	background: linear-gradient(black, gray);
	min-height: 100vh;
}
form.questionnaire {
	padding: 3rem;
	width: 90%;
	max-width: 800px;
	margin: 3rem 0;
	background: black;
	display: inline-flex;
	flex-flow: column nowrap;
	align-items: center;
	color: white;
	text-align: center;
}
div.instructional, div.form {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	font-size: 5rem;
	font-family: 'Mr Dafoe', cursive;
	padding-bottom: 3rem;
}
h2.countdown {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2rem;
	padding-bottom: 2rem;
	width: 100%;
	max-width: 600px;
}
p.instructions {
	font-size: 1.25rem;
	padding-bottom: 3rem;
}
p.instructions span.page-links {
	display: flex;
	width: 9rem;
	justify-content: space-between;
	margin: 0 auto;
}
p.disclaimer {
	font-size: 1rem;
}
p a {
	color: white;
}
.questionnaire button {
	display: block;
	background: none;
	border: 0.25rem solid white;
	border-radius: 0.5rem 3rem;
	margin: 0;
	padding: 0.75rem 2.25rem;
	font-size: 2rem;
	font-family: 'Open Sans Condensed', cursive;
	margin-top: 3rem;
	color: white;
	cursor: pointer;
}
.questionnaire button:hover {
	background: hsla(205, 100%, 45%, 1);
}

svg.progress {
	width: 100%;
	max-width: 300px;
	height: auto;
	margin-bottom: 3rem;
}
svg.progress circle {
	stroke-width: 3px;
	stroke: white;
	transition: 0ms 50ms;
}
svg.progress circle:first-child {
	fill: hsla(205, 100%, 45%, 1);
}
svg.progress line {
	stroke-width: 2px;
	stroke: white;
}
svg.progress text {
	font-size: 3rem;
	font-family: 'Open Sans Condensed', sans-serif;
	fill: white;
	text-anchor: middle;
	alignment-baseline: middle;
}

div.form {
	display: none;
}
div.form div.general, div.services-budget, div.services-recommendations, div.website-recommendations {
	display: inline-flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
}
div.general label, div.general input {
	width: 100%;
	max-width: 300px;
	font-size: 1.25rem;
	font-family: 'Open Sans Condensed', sans-serif;	
	border: none;
	text-align: left;
	margin-bottom: 0.25rem;
}
div.general input {
	margin-bottom: 1.5rem;
	padding: 0.25rem;
	box-sizing: border-box;
}

div.services-budget, div.services-recommendations, div.website-recommendations {
	display: none;
}
div.services-budget p, div.services-recommendations p, div.website-recommendations p {
	font-size: 2rem;
}
div.services-budget div.all-options, div.services-budget div.all-budgets {
	width: 100%;
	max-width: 600px;
	display: inline-flex;
	flex-flow: row wrap;
	padding: 2rem 0;
}
div.services-budget div.all-options div.option {
	display: inline-flex;
	justify-content: flex-start;
	width: 33%;
	font-size: 1.5rem;
	padding: 0.5rem 0;
}
@media only screen and (max-width: 475px) {
	div.services-budget div.all-options div.option {
		width: 50%;
		font-size: 1.25rem;
		padding: 0.5rem 0;
	}
}
@media only screen and (max-width: 605px) {
	div.services-budget #seo-label {
		font-size: 1.125rem;
	}
}
@media only screen and (max-width: 315px) {
	div.services-budget #seo-label {
		font-size: 1rem;
	}
}
div.services-budget div.all-budgets {
	justify-content: space-between;
}
div.services-budget div.all-budgets div.budget {
/*	display: inline-flex;*/
	display: none;
	align-items: center;
	flex-flow: column;
	width: 30%;
	font-size: 1.25rem;
	margin-bottom: 1rem;
}
@media only screen and (max-width: 650px) {
	div.services-budget div.all-budgets div.budget label {
		font-size: 1rem;
	}
}
@media only screen and (max-width: 550px) {
	div.services-budget div.all-budgets div.budget {
		width: 45%;
	}
}
@media only screen and (max-width: 350px) {
	div.services-budget div.all-budgets div.budget label {
		height: 3rem;
	}
	div.services-budget div.all-budgets div.budget {
		margin-bottom: 2rem;
	}
}

div.services-recommendations div.all-options, div.website-recommendations div.all-options {
	width: 100%;
	max-width: 600px;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 1rem 0 3rem 0;
}
div.services-recommendations label, div.website-recommendations label {
	font-size: 1.25rem;
}
div.services-recommendations textarea, div.website-recommendations textarea {
	width: 100%;
	max-width: 600px;
	height: 10rem;
	margin: 1rem 0 1.5rem 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5rem;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
}